<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
  <p>{{ title }}</p>
  <p>{{ saudacao() }}</p>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      title: 'Vue JS'
    },methods: {
      saudacao: function() {
        return 'Boa Semana';
      }
    }
  });
</script>