<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
  <p v-once>{{ title }}</p>
  <p>{{ saudacao() }}</p>
  <a v-bind:href="link">Google</a>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      title: 'Vue JS',
      link: 'http://google.com.br'
    },methods: {
      saudacao: function() {
        this.title = 'Bom dia!!!'
        return this.title;
      }
    }
  });
</script>